[submodule "components/FixedPointsArduino"]
	path = components/FixedPointsArduino
	url = https://github.com/jaguilar/FixedPointsArduino.git
[submodule "components/Adafruit_MLX90393_Library"]
	path = components/Adafruit_MLX90393_Library
	url = https://github.com/jaguilar/Adafruit_MLX90393_Library.git
[submodule "components/jeteleplot"]
	path = components/jeteleplot
	url = https://github.com/jaguilar/jeteleplot.git
[submodule "components/jesl"]
	path = components/jesl
	url = https://github.com/jaguilar/jesl.git
